body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 90vw;
    height: 90vw;
    max-width: 400px;
    max-height: 400px;
    position: relative;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #f0f0f0;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}

.result {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

/* X ve O sembollerinin renklerini ayarlama */
.x-symbol {
    color: #FF073A; /* Neon kırmızı */
    text-shadow: 0 0 2px #FF073A, 0 0 4px #FF073A, 0 0 6px #FF073A;
}

.o-symbol {
    color: #FFD700; /* Neon sarısı */
    text-shadow: 0 0 2px #FFD700, 0 0 4px #FFD700, 0 0 6px #FFD700;
}

/* Reset butonu stili */
#resetButton {
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
}

.hidden {
    display: none;
}

.score-board {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    font-size: 1.5em;
}

.difficulty {
    margin-top: 20px;
    font-size: 1.2em;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.cell {
    width: 100%;
    padding-top: 100%; /* Kare yapmak için */
    position: relative;
}

.cell:after {
    content: '';
    display: block;
    padding-top: 100%; /* Kare yapmak için */
}

.cell div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
